.img-thumbnail {
    height: 300px;
    width: 300px;
    margin: 10px;
}

.text-justify {
    margin: 50px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

#songTitle {
    margin-top: 15px;
}